.editNickNameBg_div{
	width: 100%;height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.editNickName_div{
	width:500px;height:190px;margin:245px auto;background: #f8f8f8;border-radius: 6px;
}
.editNickName_div .title{
	font-size: 22px;color: #4CAF50;text-align: center;padding-top: 20px;
}
.editNickName_div .nc_div{
	width:255px;margin: auto;padding-top: 20px;
}
.editNickName_div input{
	width: 200px;height:30px;margin-left: 20px;border: 1px solid #DDE0E2;
}
.editNickName_div .but_div{
	width:168px;margin: auto;padding-top: 20px;
}
.editNickName_div .but{
	width: 76px;padding: 5px 10px;font-size: 14px;border: 1px solid #d9d9d9;border-radius: 4px;cursor: pointer;
}
.editNickName_div .cancel_but{
	color: #323232;background: #FFF;
}
.editNickName_div .submit_but{
	color: #FFF;background: #4CAF52;margin-left: 12px;
}

.editPwdBg_div{
	width: 100%;height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.editPwd_div{
	width:400px;height:420px;margin:100px auto;background: #f8f8f8;border-radius: 6px;
}
.editPwd_div .close_span{
	float: right;margin-top: 20px;margin-right: 20px;font-size: 25px;cursor: pointer;
}
.editPwd_div .title{
	font-size: 22px;color: #4CAF50;text-align: center;padding-top: 50px;
}
.editPwd_div .ymm_div{
	width:240px;margin: auto;padding-top: 20px;
}
.editPwd_div .xmm_div,.editPwd_div .qrmm_div{
	width:240px;margin: auto;
}
.editPwd_div input{
	width: 216px;
    height: 46px;
    padding: 0 15px;
    font-size: 12px;
	border: 1px solid #DDE0E2;
    border-radius: 4px;
}
.editPwd_div .confirm_div{
	width:240px;height:40px;line-height:40px;margin: 30px auto;text-align:center;font-size:17px;color:#fff;background-color:#4caf50;border-radius:3px;cursor: pointer;
}
.editPwd_div .warn_div{
	width: 100%;margin-top: 20px;border-radius: 0 0 4px 4px;font-size: 12px;text-align: center;color: #9b9b9b;
}

.editAlipayBg_div{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.editAlipay_div{
	width:500px;height:240px;margin:200px auto;background: #f8f8f8;border-radius: 6px;
}
.editAlipay_div .title{
	font-size: 22px;color: #4CAF50;text-align: center;padding-top: 20px;
}
.editAlipay_div .zfbzh_div,.editAlipay_div .zsxm_div{
	width:330px;margin: auto;padding-top: 20px;
}
.editAlipay_div input{
	width: 200px;height:30px;margin-left: 20px;border: 1px solid #DDE0E2;
}
.editAlipay_div .but_div{
	width:168px;margin: auto;padding-top: 20px;
}
.editAlipay_div .but{
	width: 76px;padding: 5px 10px;font-size: 14px;border: 1px solid #d9d9d9;border-radius: 4px;cursor: pointer;
}
.editAlipay_div .cancel_but{
	color: #323232;background: #FFF;
}
.editAlipay_div .submit_but{
	color: #FFF;background: #4CAF52;margin-left: 12px;
}

.editCompanyBg_div{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.editCompany_div{
	width:500px;height:340px;margin:100px auto;background: #f8f8f8;border-radius: 6px;
}
.editCompany_div .title{
	font-size: 22px;color: #4CAF50;text-align: center;padding-top: 20px;
}
.editCompany_div .gsmc_div,.editCompany_div .gsdz_div,.editCompany_div .lxdh_div,.editCompany_div .yx_div{
	width:310px;margin: auto;padding-top: 20px;
}
.editCompany_div .dhjpgz_span{
	margin-top: 36px;position: absolute;
}
.editCompany_div input{
	width: 200px;height:30px;margin-left: 20px;border: 1px solid #DDE0E2;
}
.editCompany_div textarea{
	width: 200px;height:100px;margin-left: 108px;border: 1px solid #DDE0E2;
}
.editCompany_div .but_div{
	width:168px;margin: auto;padding-top: 20px;
}
.editCompany_div .but{
	width: 76px;padding: 5px 10px;font-size: 14px;border: 1px solid #d9d9d9;border-radius: 4px;cursor: pointer;
}
.editCompany_div .cancel_but{
	color: #323232;background: #FFF;
}
.editCompany_div .submit_but{
	color: #FFF;background: #4CAF52;margin-left: 12px;
}

.bwxQrcodeBg_div{
	width: 100%;height:100%;background: rgba(0,0,0,0.65);position: fixed;display:none;z-index: 1001;
}
.bwxQrcode_div{
	width:600px;height:340px;margin:100px auto;background: #f8f8f8;border-radius: 6px;padding: 1px;
}
.bwxQrcode_div .close_span{
	float: right;margin-top: 20px;margin-right: 20px;font-size: 25px;cursor: pointer;
}
.bwxQrcode_div .title_h3{
	margin-top: 30px;text-align: center;font-size: 18px;font-weight: 700;color: #4caf50;
}
.bwxQrcode_div .title_div{
	font-size: 14px;margin-top: 16px;text-align: center;
}
.bwxQrcode_div .qrcode_div{
	width: 100%;height: 200px;text-align: center;margin-top: 20px;
}
.bwxQrcode_div .qrcode_img{
	width: 200px;height:200px;
}
.bwxQrcode_div .yhzs_span{
	float: right;margin-right: 25px;color: #4caf50;font-size: 12px;cursor: pointer;
}

.rbwxQrcodeBg_div{
	width: 100%;height:100%;background: rgba(0,0,0,0.65);position: fixed;display:none;z-index: 1001;
}
.rbwxQrcode_div{
	width:600px;height:340px;margin:100px auto;background: #f8f8f8;border-radius: 6px;padding: 1px;
}
.rbwxQrcode_div .close_span{
	float: right;margin-top: 20px;margin-right: 20px;font-size: 25px;cursor: pointer;
}
.rbwxQrcode_div .title_h3{
	margin-top: 30px;text-align: center;font-size: 18px;font-weight: 700;color: #4caf50;
}
.rbwxQrcode_div .title_div{
	font-size: 14px;margin-top: 16px;text-align: center;
}
.rbwxQrcode_div .qrcode_div{
	width: 100%;height: 200px;text-align: center;margin-top: 20px;
}
.rbwxQrcode_div .qrcode_img{
	width: 200px;height:200px;
}
.rbwxQrcode_div .yhzs_span{
	float: right;margin-right: 25px;color: #4caf50;font-size: 12px;cursor: pointer;
}

.zhxx_div{
	height:320px;margin-top:20px;margin-left: 238px;padding-top:40px;padding-left:40px;background-color:#FAFDFE;
}
.zhxx_div .title_div,.gsxx_div .title_div{
	font-size: 20px;color: #373737;font-weight:700;
}
.zhxx_div .attr_div,.gsxx_div .attr_div{
	margin-top:40px;
}
.zhxx_div .nc_key_span,.zhxx_div .yhzh_key_span,.zhxx_div .bdwx_span,.zhxx_div .zfbzh_key_span,
.gsxx_div .gsmc_key_span,.gsxx_div .gsdz_key_span,.gsxx_div .lxdh_key_span,.gsxx_div .yx_key_span{
	font-size: 15px;color: #373737;font-weight: 700;
}
.zhxx_div .nc_val_span,.zhxx_div .yhzh_val_span,.zhxx_div .mm_ysz_span,.zhxx_div .zfbzh_val_span,.zhxx_div .zsxm_val_span,
.gsxx_div .gsmc_val_span,.gsxx_div .gsdz_val_span,.gsxx_div .lxdh_val_span,.gsxx_div .yx_val_span{
	font-size: 15px;
}
.zhxx_div .mm_key_span,.zhxx_div .zsxm_key_span{
	font-size: 15px;color: #373737;font-weight: 700;margin-left: 100px;
}
.zhxx_div .xgnc_span,.zhxx_div .xgmm_span,.zhxx_div .xgzfb_span{
	font-size: 15px;color: #357bb3;margin-left: 15px;cursor: pointer;
}
.zhxx_div .wbd_span,.zhxx_div .jcbd_span{
	font-size: 15px;cursor: pointer;
}

.gsxx_div{
	height:370px;margin-top:20px;margin-left: 238px;padding-top:40px;padding-left:40px;background-color:#FAFDFE;
}
.gsxx_div .xggsxx_span{
	font-size: 15px;color: #357bb3;cursor: pointer;
}