@charset "UTF-8";
body{
	background-color: #fbfbfb;
}
.embed1ModBg_div,
.embed2ModBg_div,
.pdf1ModBg_div{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed;
	display:none;
	z-index: 1;
}
.embed1Mod_div,
.embed2Mod_div,
.pdf1Mod_div{
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #fff;
}
.embed1Mod_div .title_div,
.embed2Mod_div .title_div,
.pdf1Mod_div .title_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: #999 solid 1px;
}
.embed1Mod_div .title_span,
.embed2Mod_div .title_span,
.pdf1Mod_div .title_span{
	margin-left: 20px;
}
.embed1Mod_div .close_span,
.embed2Mod_div .close_span,
.pdf1Mod_div .close_span{
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
.embed1Mod_div .embedList_div,
.embed2Mod_div .embedList_div,
.pdf1Mod_div .pdfList_div{
	width: 550px;
	margin:0 auto;
	margin-top: 20px;
	border: #eee solid 1px;
}
.embed2Mod_div .embedList_div .item_div{
	width: 100%;
	height: 300px;
	margin: 5px 0 25px 0;
	border: #eee solid 1px;
	border-radius:15px; 
}
.embed2Mod_div .embedList_div .delete_img{
	margin-top: -285px;
	margin-left: -270px;
	cursor:pointer;
}
.embed1Mod_div .embedList_div .item_embed,
.embed2Mod_div .embedList_div .item_embed{
	width: 100%;
	height: 300px;
}
.embed1Mod_div .reupload_div,
.embed2Mod_div .reupload_div,
.pdf1Mod_div .upload_div{
	width:100px;
	height:33px;
	line-height:33px;
	text-align:center;
	color:#999;
	margin:0 auto;
	margin-top: 15px;
	border: #999 solid 1px;
	border-radius:5px;
	cursor: pointer;
}
.embed1Mod_div .uploadFile3_div,
.embed2Mod_div .uploadFile4_div,
.pdf1Mod_div .uploadFile5_div{
	display: none;
}
.embed1Mod_div .but_div,
.embed2Mod_div .but_div,
.pdf1Mod_div .but_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	border-top: #999 solid 1px;
}
.embed1Mod_div .confirm_div,
.embed2Mod_div .confirm_div,
.pdf1Mod_div .confirm_div{
	width:80px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	float:right;
	margin-top: 7px;
	margin-right:13px;
	background-color: #4caf50;
	border-radius:5px;
	cursor: pointer;
}
.embed1Mod_div .cancel_div,
.embed2Mod_div .cancel_div,
.pdf1Mod_div .cancel_div{
	width:80px;
	height:33px;
	line-height:33px;
	text-align:center;
	color:#999;
	float:right;
	margin-top: 7px;
	margin-right:13px;
	border: #999 solid 1px;
	border-radius:5px;
	cursor: pointer;
}

.image1ModBg_div,.image2ModBg_div{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed;
	display:none;
	z-index: 1;
}
.image1Mod_div,.image2Mod_div{
	width: 600px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #fff;
}
.image1Mod_div .title_div,.image2Mod_div .title_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: #999 solid 1px;
}
.image1Mod_div .title_span,.image2Mod_div .title_span{
	margin-left: 20px;
}
.image1Mod_div .close_span,.image2Mod_div .close_span{
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
.image1Mod_div table,.image2Mod_div table{
	width: 550px;margin:0 auto;margin-top: 20px;border: #eee solid 1px;
}
.image1Mod_div table .file_td,.image2Mod_div table .file_td{
	width: 25%;
}
.image1Mod_div table .delete_img,.image2Mod_div table .delete_img{
	margin-top: 5px;
	margin-left: 80px;
	cursor:pointer;
	position: absolute;
}
.image1Mod_div table .item_img,.image2Mod_div table .item_img{
	width: 120px;
	height: 120px;
}
.image1Mod_div .upload_img,.image2Mod_div .upload_img{
	cursor:pointer;
}
.image1Mod_div .uploadFile1_div,.image2Mod_div .uploadFile2_div{
	display: none;
}
.image1Mod_div .but_div,.image2Mod_div .but_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	border-top: #999 solid 1px;
}
.image1Mod_div .confirm_div,.image2Mod_div .confirm_div{
	width:80px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	float:right;
	margin-top: 7px;
	margin-right:13px;
	background-color: #4caf50;
	cursor:pointer;
	border-radius:5px;
}
.image1Mod_div .cancel_div,.image2Mod_div .cancel_div{
	width:80px;
	height:33px;
	line-height:33px;
	text-align:center;
	color:#999;
	float:right;
	margin-top: 7px;
	margin-right:13px;
	border: #999 solid 1px;
	cursor:pointer;
	border-radius:5px;
}

.previewBg_div{
	width: 100%;height:auto;background: rgba(0,0,0,0.65);position: absolute;display:none;z-index: 1001;
}
.preview_div{
	width: 325px;height: auto;margin:40px auto 0; background-color: #fff;border-radius:20px;
}
.preview_div .productName_div{
	width: 95%;height: 40px;line-height: 40px;text-align: center;font-size: 20px;font-weight: bold;margin: auto;
}
.preview_div .embed1_div,
.preview_div .image1_div,
.preview_div .image2_div{
	width: 95%;
	text-align: center;
	margin: auto;
}
.preview_div .pdf1_div{
	width: 95%;
	margin: auto;
}
.preview_div .embed1_1_embed,
.preview_div .image1_1_img,
.preview_div .image1_2_img,
.preview_div .image1_3_img,
.preview_div .image1_4_img,
.preview_div .image1_5_img{
	width: 95%;
	margin: 25px auto 0;
}
.preview_div .jyyybl_div{
	margin-top: 20px;
}
.preview_div .jyyybl_div .title_div,
.preview_div .memo1_div .title_div,
.preview_div .memo2_div .title_div,
.preview_div .embed2_div .title_div,
.preview_div .pdf1_div .title_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.preview_div .jyyybl_div .title_div .num_div,
.preview_div .memo1_div .title_div .num_div,
.preview_div .memo2_div .title_div .num_div,
.preview_div .embed2_div .title_div .num_div{
	width:15%;
	color: #AD2E1B;
	font-size:20px;
	text-align: center;
	border-bottom: #AD2E1B solid 1px;
}
.preview_div .jyyybl_div .title_div .text_div,
.preview_div .memo1_div .title_div .text_div,
.preview_div .memo2_div .title_div .text_div,
.preview_div .embed2_div .title_div .text_div,
.preview_div .pdf1_div .title_div .text_div{
	width:80%;
	margin-top:-40px;
	margin-left:60px;
	color: #AD2E1B;
	font-size:20px;
	border-bottom: #AD2E1B solid 1px;
}
.preview_div .jyyybl_div .title_div .text_div .text_span,
.preview_div .memo1_div .title_div .text_div .text_span,
.preview_div .memo2_div .title_div .text_div .text_span,
.preview_div .embed2_div .title_div .text_div .text_span,
.preview_div .pdf1_div .title_div .text_span{
	margin-left:15px;
}
.preview_div .jyyybl_tab{
	width: 95%;
	margin: 30px auto 0;
	border: #eee solid 1px;
}
.preview_div .jyyybl_tab .head_tr{
	height:60px;
	font-weight: bold;
}
.preview_div .jyyybl_tab .head_tr .jyyybl_td{
	padding-left: 20px;
	background-color: #E7EAEE;
	border: 0;
}
.preview_div .jyyybl_tab .item_tr .name_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.preview_div .jyyybl_tab .item_tr .value_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.preview_div .jyyybl_tab .item_tr .memo_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.preview_div .memo1_div .content_div,
.preview_div .memo2_div .content_div{
	width: 95%;
	margin: auto;
	overflow: hidden;
}
.preview_div .pdf1_div .list_div{
	margin-top: 10px;
}
.preview_div .pdf1_div .list_div .item_pdf{
	width: 100%;
	height: 100px;
	margin: 5px 0 25px 0;
	border: #eee solid 1px;
	border-radius:10px; 
}
.preview_div .pdf1_div .list_div .item_pdf .file_img{
	width: 60px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}
.preview_div .pdf1_div .list_div .item_pdf .name_span{
	margin-top: 20px;
	margin-left: 10px;
	font-size: 14px;
	position: absolute;
}
.preview_div .pdf1_div .list_div .item_pdf .size_span{
	margin-top: 55px;
	margin-left: 10px;
	color:#9B9B9B;
	font-size: 12px;
	position: absolute;
}
.preview_div .embed2_div{
	width: 95%;
	margin: 30px auto 0;
}
.preview_div .embed2_1_embed,
.preview_div .image2_1_img,
.preview_div .image2_2_img,
.preview_div .image2_3_img,
.preview_div .image2_4_img,
.preview_div .image2_5_img{
	width: 95%;
	margin: 5px auto 0;	
}
.previewBg_div .smck_div{
	width: 145px;
	height: 240px;
	text-align: center;
}
.previewBg_div .smck_div .tiShi_div{
	padding:5px 5px 0 5px;
	color:#4a4a4a;
	font-size:12px;
	background-color: #fff;
}
.previewBg_div .smck_div .qrCode_div{
	width: 145px;height: 145px;background-color: #fff;
}
.previewBg_div .smck_div .qrCode_img{
	width: 145px;height: 145px;
}
.previewBg_div .smck_div .jxbjBut_div{
	width: 100%;height:35px;line-height:35px;margin-top: 20px;color:#fff;background-color:#4caf50;cursor:pointer;border-radius:3px;
}

.top_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
}
.top_div .return_div{
	float:left;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin-top:10px;
	margin-left:20px;
	border:1px solid #eee;
	cursor:pointer;
	border-radius:3px;
}
.top_div .title_div{
	width:200px;
	margin:0 auto;
	font-size:18px;
	font-weight: bold;
	text-align: center;
}
.top_div .myQrcode_div{
	float:right;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin-top:-40px;
	margin-right:20px;
	border-radius:3px;
}
.middle_div{
	width: 650px;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #fff;
}
.productName_input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: 0;
	color:#fff;
	background-color: #AD2E1B;
}
.embed1_div{
	width: 650px;
	text-align: center;
	background-color: #AD2E1B;
}
.embed1_div .option_div,
.embed2_div .option_div,
.image1_div .option_div,
.image2_div .option_div,
.pdf1_div .option_div{
	width:650px;
	position:absolute;
}
.embed1_div .but_div,
.embed2_div .but_div,
.image1_div .but_div,
.image2_div .but_div{
	width:100px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	margin-top: 50px;
	text-align:center;
	z-index: 1;
	background-color: #fff;
	border-radius:5px;
	display:none;
}
.embed1_div .list_div .item_embed,.embed2_div .list_div .item_embed{
	width: 600px;
	height: 300px;
	margin: 5px 0 25px 0;
}
.embed1_div .list_div .item_embed{
	width: 600px;
	height: 300px;
	margin-top: 25px;
}

.jyyybl_div,.memo1_div,.memo2_div{
	margin-top: 20px;
	padding: 1px;
}
.jyyybl_div .title_div,.memo1_div .title_div,.memo2_div .title_div,.embed2_div .title_div{
	width: 600px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.jyyybl_div .title_div .num_div,
.memo1_div .title_div .num_div,
.memo2_div .title_div .num_div,
.embed2_div .title_div .num_div{
	width:40px;
	color: #AD2E1B;
	font-size:20px;
	text-align: center;
	border-bottom: #AD2E1B solid 1px;
}
.jyyybl_div .title_div .text_div,
.memo1_div .title_div .text_div,
.memo2_div .title_div .text_div,
.embed2_div .title_div .text_div{
	width:540px;
	margin-top:-40px;
	margin-left:60px;
	color: #AD2E1B;
	font-size:20px;
	border-bottom: #AD2E1B solid 1px;
}
.jyyybl_div .title_div .text_div .text_span,
.memo1_div .title_div .text_div .text_span,
.memo2_div .title_div .text_div .text_span,
.embed2_div .title_div .text_div .text_span{
	margin-left:15px;
}
.jyyybl_tab{
	width: 600px;
	margin: 30px auto 0;
	border: 0;
}
.jyyybl_tab .head_tr{
	height:60px;
	font-weight: bold;
}
.jyyybl_tab .head_tr .jyyybl_td{
	padding-left: 20px;
	background-color: #E7EAEE;
	border: 0;
}
.jyyybl_tab .head_tr .cz_td{
	text-align: center;
	background-color: #E7EAEE;
	border: 0;
}
.jyyybl_tab .item_tr .name_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .value_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .memo_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .name_td input,.jyyybl_tab .item_tr .value_td input,.jyyybl_tab .item_tr .memo_td input{
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .cz_td{
	width:10%;
	border: #eee solid 1px;
	text-align: center;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .jyyyblIfShow_inp{
	cursor: pointer;
}
.memo1_div .space_div,.memo2_div .space_div,.image2_div .space_div{
	width: 100%;
	height: 30px;
}
.memo1_ta,.memo2_ta{
	width:650px;
	height:150px;
	visibility:hidden;
}

.pdf1_div{
	width: 650px;
	margin-top: 25px;
}
.pdf1_div .title_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #F0F2F5;	
	border-left: #AD2E1B solid 10px;
}
.middle_div .pdf1_div .title_div .text_span{
	margin-left:15px;
	font-size: 20px;
}
.pdf1_div .but_div{
	width:100px;
	height:30px;
	line-height:30px;
	margin:15px auto 0;
	text-align:center;
	z-index: 1;
	background-color: #fff;
	border-radius:5px;
	display:none;
}
.pdf1_div .list_div{
	margin-top: 10px;
}
.pdf1Mod_div .pdfList_div .item_pdf,
.pdf1_div .list_div .item_pdf{
	width: 100%;
	height: 150px;
	margin: 5px 0 25px 0;
	border: #eee solid 1px;
	cursor:pointer;
	border-radius:15px; 
}
.pdf1Mod_div .pdfList_div .item_pdf .file_img,
.pdf1_div .list_div .item_pdf .file_img{
	width: 90px;
	height: 114px;
	margin-top: 20px;
	margin-left: 20px;
}
.pdf1Mod_div .pdfList_div .item_pdf .name_span,
.pdf1_div .list_div .item_pdf .name_span{
	margin-top: 35px;
	margin-left: 20px;
	font-size: 25px;
	position: absolute;
}
.pdf1Mod_div .pdfList_div .item_pdf .size_span, 
.pdf1_div .list_div .item_pdf .size_span{
	margin-top: 90px;
	margin-left: 20px;
	color:#9B9B9B;
	font-size: 18px;
	position: absolute;
}

.image1_div,.image2_div{
	width: 650px;
	text-align: center;
}
.image1_div .list_div .item_img,.image2_div .list_div .item_img{
	width: 600px;
	margin-top: 25px;
}
.embed2_div{
	width: 650px;
	margin-top: 30px;
}

.right_div{
	width: 150px;
	height: 200px;
	text-align: center;
}
.right_div .qrCode_img{
	width: 120px;
	height: 120px;
}
.right_div .preview_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin:0 auto;
	margin-top:15px;
	border:1px solid #eee;
	background-color:#fff;
	cursor:pointer;
	border-radius:3px;
}
.right_div .save_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin:0 auto;
	margin-top:15px;
	border:1px solid #eee;
	background-color:#fff;
	cursor:pointer;
	border-radius:3px;
}
.right_div .finishEdit_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin:0 auto;
	margin-top:15px;
	color:#fff;
	background-color:#4caf50;
	cursor:pointer;
	border-radius:3px;
}
.right_div .saveStatus_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	margin:0 auto;
	margin-top:15px;
	color:#4caf50;
	display: none;
}