@charset "UTF-8";
body{
	width: 100%;
}
.main_div{
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.productName_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #AD2E1B;
}
.embed1_div{
	width: 100%;
	text-align: center;
	background-color: #AD2E1B;
}
.embed1_1_embed{
	width: 95%;
	margin: 25px auto;
}

.jyyybl_div{
	margin-top: 20px;
}
.jyyybl_div .title_div,
.memo1_div .title_div,
.memo2_div .title_div,
.embed2_div .title_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
}
.jyyybl_div .title_div .num_div,
.memo1_div .title_div .num_div,
.memo2_div .title_div .num_div,
.embed2_div .title_div .num_div{
	width:15%;
	color: #AD2E1B;
	font-size:15px;
	font-weight: bold;
	text-align: center;
	border-bottom: #AD2E1B solid 1px;
}
.jyyybl_div .title_div .text_div,
.memo1_div .title_div .text_div,
.memo2_div .title_div .text_div,
.embed2_div .title_div .text_div,
.pdf1_div .title_div .text_div{
	width:80%;
	margin-top:-41px;
	margin-left:60px;
	color: #AD2E1B;
	font-size:15px;
	font-weight: bold;
	border-bottom: #AD2E1B solid 1px;
}
.jyyybl_div .title_div .text_div .text_span,
.memo1_div .title_div .text_div .text_span,
.memo2_div .title_div .text_div .text_span,
.embed2_div .title_div .text_div .text_span,
.pdf1_div .title_div .text_span{
	margin-left:15px;
}
.jyyybl_tab{
	width: 95%;
	margin: 30px auto 0;
	border: #eee solid 1px;
}
.jyyybl_tab .head_tr{
	height:60px;
	font-weight: bold;
}
.jyyybl_tab .head_tr .jyyybl_td{
	padding-left: 20px;
	background-color: #E7EAEE;
	border: 0;
}
.jyyybl_tab .item_tr .name_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .value_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.jyyybl_tab .item_tr .memo_td{
	width:30%;
	border: #eee solid 1px;
	padding-left: 20px;
	background-color: #F0F2F5;
	border: 0;
}
.memo1_div .space_div,.memo2_div .space_div,.image2_div .space_div{
	width: 100%;
	height: 30px;
}
.memo1_div .content_div,
.memo2_div .content_div{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.pdf1_div{
	width: 95%;
	margin: auto;
}
.pdf1_div .title_div{
	width: 98%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	background-color: #F0F2F5;
	border-left: #AD2E1B solid 5px;
}
.pdf1_div .list_div .item_pdf {
  	width: 100%;
	height: 100px;
	margin: 5px 0 25px 0;
	border: #eee solid 1px;
	cursor:pointer;
	border-radius: 10px;
}
.pdf1_div .list_div .item_pdf .file_img {
	width: 60px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}
.pdf1_div .list_div .item_pdf .name_div {
    width: 200px;
    margin-top: -67px;
    margin-left: 85px;
    font-size: 14px;
}
.pdf1_div .list_div .item_pdf .size_div {
    width: 200px;
    margin-top: 17px;
    margin-left: 85px;
    color: #9B9B9B;
    font-size: 12px;
}

.image1_div,
.image2_div{
	width: 95%;
	margin: auto;
	text-align: center;
}
.image1_1_img,.image1_2_img,.image1_3_img,.image1_4_img,.image1_5_img,
.image2_1_img,.image2_2_img,.image2_3_img,.image2_4_img,.image2_5_img{
	width: 95%;
	margin-top: 25px;
}
.embed2_div{
	width: 95%;
	margin: auto;
}
.embed2_div .content_div{
	width: 100%;
	margin: 30px auto 0;
	text-align: center;
}